@using QuanLy_TourDuLich.Areas.Admin.Models;
@model List<QuanLyDatTour>
@{
    ViewBag.Title = "Quản lý đặt tour";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<b style="font-size:45px; color:black">Quản lý đặt tour</b>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã Đặt Tour</th>
            <th>Mã Hành Khách</th>
            <th>Tên Hành Khách</th>
            <th>Ngày Đặt</th>
            <th>Số Người</th>
            <th>Ghi Chú</th>
            <th>Mã Tour</th>
            <th>Tổng Tiền</th>
            <th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DatTour_id</td>
                <td>@item.KhachHang_id</td> <!-- Hiển thị ID hành khách -->
                <td>@item.TenKhach</td> <!-- Hiển thị tên khách hàng -->
                <td>@item.NgayDat.ToString("dd/MM/yyyy")</td> <!-- Hiển thị ngày đặt -->
                <td>@item.SoNguoi</td> <!-- Hiển thị số lượng người -->
                <td>@item.GhiChu</td> <!-- Hiển thị ghi chú -->
                <td>@item.Tour_id</td> <!-- Hiển thị ID của tour -->
                <td>@item.TongTien.ToString("C")</td> <!-- Hiển thị tổng tiền dưới dạng tiền tệ -->
                <td>
                    @Html.ActionLink("Chi tiết", "Edit", new { id = item.DatTour_id })
                </td>
            </tr>
        }
    </tbody>
</table>
