@using QuanLy_TourDuLich.Areas.Admin.Models;
@model List<QuanLyDatTour>
@{
    ViewBag.Title = "HienThiDatTour";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<b style="font-size:45px; color:black">Quản lý đặt tour</b>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Đặt Tour ID</th>
            <th>Tên Khách Hàng</th>
            <th>Tên Tour</th>
            <th>Loại Tour</th>
            <th>Số Người</th>
            <th>Ngày Đặt</th>
            <th>Ngày Khởi Hành</th>
            <th>Ngày Kết Thúc</th>
            <th>Ghi Chú</th>
            <th>Tổng Tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DatTour_id</td>
                <td>@item.KhachHangName</td>
                <td>@item.TourName</td>
                <td>@item.LoaiTour</td>
                <td>@item.SoNguoi</td>
                <td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
                <td>@item.NgayKhoiHanh.ToString("dd/MM/yyyy")</td>
                <td>@item.NgayKetThuc.ToString("dd/MM/yyyy")</td>
                <td>@item.GhiChu</td>
                <td>@item.TongTien.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>