@model QuanLy_TourDuLich.Areas.Admin.Controllers.QuanLyHanhKhachTourController.TourDetailsViewModel

@{
    ViewBag.Title = "Thông Tin Tour";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h3>Thông Tin Hướng Dẫn Viên</h3>
@if (Model.HuongDanVien != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên Hướng Dẫn Viên</th>
                <th>Điện Thoại</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HuongDanVien)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                    <td>@Html.DisplayFor(modelItem => item.DienThoai)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có thông tin hướng dẫn viên.</p>
}

<h3>Danh Sách Hành Khách</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>Giới Tính</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HanhKhachs)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                <td>@(Convert.ToBoolean(item.GioiTinh) ? "Nữ" : "Nam")</td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Trở lại danh sách", "Index", "QuanLyHanhKhachTour", null, new { @class = "btn btn-primary", @style = "font: bold; color:white; border-radius: 5px; font-weight: bold" })
</p>
