@using QuanLy_TourDuLich.Areas.Admin.Models;
@model List<QuanLyHuyTour>
@{ ViewBag.Title = "HienThiHuyTour";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml"; }

<b style="font-size:45px; color:black">Quản lý hủy tour</b>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã Hủy Tour</th>
            <th>Mã Đặt Tour</th>
            <th>Ngày Hủy</th>
            <th>Lý Do</th>
            <th>Mã Tour</th>
            <th>Tên Tour</th>
            <th>Mã Nhân Viên</th>
            <th>Mã Hành Khách</th>
            <th>Tên Khách Hàng</th>
            <th>Trạng thái</th>
            <th>Xác nhận</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.HuyTour_id</td>
            <td>@item.DatTour_id</td> 
            <td>@item.NgayHuy.ToString("dd/MM/yyyy")</td> 
            <td>@item.LyDo</td> 
            <td>@item.Tour_id</td> 
            <td>@item.TenTour</td>
            <td>@item.NhanVien_id</td> 
            <td>@item.KhachHang_id</td> 
            <td>@item.TenKhach</td>
            <td>@item.TrangThai</td>
            <td>
                <button class="btn btn-success" onclick="window.location.href='@Url.Action("XacNhanHuyTour", "DatTour", new { DatTour_id = item.DatTour_id })'">
                    Xác nhận
                </button>
            </td>
        </tr>
}
    </tbody>
</table>

